.nav{
  padding: 15px;
  height: 70px;
  font-family: 'Lato', sans-serif;

}
.first-container{
  padding: 0px;
}
.bg-left-container{
  height: 330px;
  /* width: 100%; */
  background-image: url('./assets/images/patata.png');
  background-repeat: no-repeat;
}

.card{
  border: 5px solid #380047;
  border-radius: 5px;
}

.card-img-top{
  width:30%;
}
